:root{
--amarillo: #EAC926;
--color-azul: #03264C; 
--color-celeste: #1259c3;
--color-grisOscuro: #666;
--color-grisClaro: #ebebeb;
--color-verde: #39b54a;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
main{
    background-color: var(--color-grisClaro);
    padding-bottom: 10px;
}
main section article{
    background-color: white;
    margin: 10px;
    
}
.compra-cuotas h3{
    text-align: center;
}
.barra-busqueda{
    padding: 0%;
    justify-content:space-around;
}

.burger-menu{
background-color: var(--color-celeste);
color :white;
width: 20px;
text-align: center;
font-size: 15px;
margin: auto;
padding: 5px;
border-radius: 10%;

}

.amarillo{
    background-color: var(--amarillo);
    padding: 15px;

}
.main-ml {
    margin: 10px auto;
    width: 90%;
    

}
.nav-home {
    display: none;
}

.bar1 li a{
    
    color: black;
}
.bar2 li a{
    
    color: black;
}

.titulares {
    font-size: 24px;
    text-align: center;
    color: var(--color-grisOscuro);

    
}
.fa-circle{
    
    font-size: 25px;
    color: var(--color-verde);
    
}
.fa-truck{
    position:relative;
    right:23px;
    bottom: 4px;
    color: var(--color-verde);
}
.descripcion-art{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.precio{
    font-size: 18px;
}
.descripcion1{
    font-size: 16px;
    color: var(--color-verde);
}
.descripcion2{
    display: none;
}
.footer i{
    color: var(--color-celeste);
    font-size: 2em;
}
.footer{
    text-align: center;
    
}

@media (min-width:361px) {
    .section-articulo article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion2 {
        display: initial;
        color: var(--color-grisOscuro);
    }
    .nav-home{
        display: initial;
    }
    .burger-menu{
        display:none;
    }
}

